@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i&display=swap");

body {
  font-family: ‘Open Sans’, sans-serif;
  background-color: #e3e2df;
}

.container {
  background-color: white;
}

img {
  width: 90%;
}

.sign-up {
  background-color: none !important;
  padding: 10px 20px;
  margin-right: 15px;
}

.log-in {
  background-color: black !important;
  border: 1px solid black !important;
  color: white;
  padding: 10px 25px;
}
.navbar {
  background: #fff;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.alert {
  padding-top: 75px;
  position: absolute;
  right: 3.3%;
  width: 250px;
  margin: 1rem 0;
  opacity: 0.9;
  color: #333;
  text-align: center;
}

.alert button {
  margin-top: -2px;
  margin-right: -5px;
  padding-left: 15px;
}

#showcase {
  padding: 150px 0 100px 0;
  background-color: #f5e0d7;
}

#showcase img {
  margin-top: 50px;
}

#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase .showcase-right {
  margin-top: 25%;
  padding-left: 0;
}

#categories {
  padding: 150px 0 100px 0;
  background-color: #e9e9e9;
}

#categories img {
  margin-top: 60px;
}

#categories .categories-left {
  margin-top: 100px;
  font-size: 25px;
  text-align: center;
}

#get-started {
  text-align: center;
  padding: 150px 0 100px 0;
  background-color: #eee2dc;
}

#get-started .get-started-text {
  margin-bottom: 25px;
}

footer {
  padding: 30px;
  background-color: white;
}

#register,
#login {
  background-color: #e3e2df;
}

.register,
.login {
  margin-top: 15px;
}

.register-title,
.login-title {
  padding-bottom: 30px;
}

.form {
  padding: 200px 90px;
  background-color: white;
}

.form-group {
  padding-top: 15px;
}

#dashboard-container {
  text-align: center;
  padding: 125px 0 125px 0;
  height: 100vh;
  overflow: scroll;
}

#dashboard {
  margin: 0 auto;
  float: none;
  width: 50%;
}

.dashboard-title {
  padding-bottom: 100px;
  text-align: left;
  margin-left: 50px;
}

#dashboard-input {
  width: 100%;
  margin: 0 auto;
  float: none;
}

.checkbox {
  float: left;
}

.edit {
  padding-right: 20px;
  float: right;
  background-color: none;
  border: none;
}

.edit-icon {
  background-color: none;
  border: none;
}

.input-edit {
  display: none;
}

.true .input-edit {
  display: block;
  width: 50%;
  padding: 0;
  margin: 0 25px 25px 0;
}

@media (max-width: 700px) {
  .alert {
    left: 20%;
    width: 250px;
    padding: 45px 10px 10px 15px;
  }

  .alert button {
    margin-right: 10px;
  }

  .dashboard-title {
    padding-bottom: 50px;
    margin-left: 0;
  }
  #dashboard {
    width: 100%;
    text-align: left;
  }

  .edit {
    padding-right: 10px;
    /* background-color: none;
    border: none; */
  }

  .edit-icon {
    background-color: none;
    border: none;
  }

  .action-button {
    margin: 0 -15px;
    padding: 5px 10px;
  }
}
